
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;

}

.container{
    transition: transform 200ms ease-out;

}


.container__panel{
}


.container__title{
    text-align: center;
    font-size: 5rem;
}

.container__communicator{
    padding-top: 15px;
    text-align: center;
}

.container__communicator--hide{
    visibility: hidden;
}

.container__communicator{
    font-size: 6rem;
}

.container__mini-communicator{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0,0,0,0.5);
    margin: 0;
}


#companions-button{
    border-radius: 0 15px 15px 0;
    margin-right: 20px;
    transform: translateX(-100%);

}

.fly-in-right{
    animation-name: fly-in-right;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

@keyframes fly-in-right{
    0%{}
    100%{transform: translateX(0%);}
}

.fly-out-left{
    animation-name: fly-out-left;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

@keyframes fly-out-left{
    0%{transform: translateX(0%);}
    100%{transform: translateX(-100%);}
}


#compounders-button{
    border-radius: 15px 0 0 15px;
    margin-left: 20px;
    transform: translateX(100%);
}

.fly-in-left{
    animation-name: fly-in-left;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

@keyframes fly-in-left{
    0%{}
    100%{transform: translateX(0%);}
}

.fly-out-right{
    animation-name: fly-out-right;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}

@keyframes fly-out-right{
    0%{transform: translateX(0%);}
    100%{transform: translateX(100%);}
}